@model IEnumerable<demo.Models.Transactions>


    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->


        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--===============================================================================================-->
        <title>Transactions</title>

        <script>
        $(window).on("load resize ", function () {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({ 'padding-right': scrollWidth });
        }).resize();
        </script>
    </head>
<!-- <h1>Transactions</h1> -->

    <body style="background-color: #0b5637;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><b>Commerce Bank Portal</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Transaction Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transactions Flags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Account Page</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link" style="color: #fff;">Hello, User!</a>
                    <a class="btn btn-success my-2 my-sm-0" href="index">Logout</a>
                </form>
            </div>
        </nav>


        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <div class="container" style="margin-top: 39px">

            <h3 style="color: #fff; margin-left:25px;">All Transactions</h3>
            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="table100">
                            <table>
                                <thead>
                                    <tr class="table100-head">
                                        <th class="column1">Transaction ID</th>
                                        <th class="column2">Amount</th>
                                        <th class="column3">Date</th>
                                        <th class="column4">Credit/Debit</th>
                                        <th class="column6">Description</th>
                                        <th class="column6">Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var transaction in Model)
                                    {
                                        <tr>
                                            <td>@transaction.transactionID</td>
                                            <td>@transaction.amount.ToString("C")</td>
                                            <td>@transaction.processing_date</td>
                                            <td>@transaction.deposit_withdrawal</td>
                                            <td>@transaction.description</td>
                                            <td>@transaction.balance.ToString("C")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>